[submodule "HealthPlusApp"]
	path = HealthPlusApp
	url = https://github.com/vishal1677/HealthPlusApp.git
[submodule "EasyOCRandClassifierModel"]
	path = EasyOCRandClassifierModel
	url = https://github.com/vishal1677/EasyOCRandClassifierModel.git
